In [2]:
import pandas as pd

In [25]:
# read csv file 
df=pd.read_csv('used_bikes.csv')

In [4]:
# memory usage before change of data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    float64
 2   city        149 non-null    object
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    object
 5   age         149 non-null    float64
 6   power       149 non-null    float64
 7   brand       149 non-null    object
dtypes: float64(4), object(4)
memory usage: 9.4+ KB

In [5]:
#change data type of columns
data_type_changed_df=df.astype({'bike_name': 'string', 'price': 'int', 'city':'string', 'kms_driven':'int', 'owner':'string', 'age':'int', 'power':'int', 'brand':'string'})

In [6]:
#memory usage after change of data types
data_type_changed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    string
 1   price       149 non-null    int64
 2   city        149 non-null    string
 3   kms_driven  149 non-null    int64
 4   owner       149 non-null    string
 5   age         149 non-null    int64
 6   power       149 non-null    int64
 7   brand       149 non-null    string
dtypes: int64(4), string(4)
memory usage: 9.4 KB

In [23]:
# connection with mysql 
import mysql.connector as msql
from mysql.connector import Error
try:
    # making connection
    conn = msql.connect(host='172.104.58.116', user='pythoni1_pythonist',  
                        password='pythonist@12345')
    if conn.is_connected():
        cursor = conn.cursor()
        print("Database connected")
except Error as e:
    print("Error while connecting to Database", e)

Database connected

In [14]:
try:
    #select datatabase
    cursor.execute("use pythoni1_pythonist_crm")
    # drop if table exist
    cursor.execute("DROP TABLE IF EXISTS used_bikes")
    #create table named used_bikes
    cursor.execute("CREATE TABLE used_bikes(id INT not null primary key AUTO_INCREMENT, bike_name varchar(100),price FLOAT,city varchar(50), kms_driven FLOAT,owner varchar(100),age FLOAT,power Float,brand varchar(50))")
    print("Table is created....")
except Error as e:
 print("Database Error ", e)

Table is created....

In [22]:
try:
    # drop index before insertion of data
    cursor.execute("Drop INDEX search_index ON used_bikes")
    #insert records from data frame
    for i,row in df.iterrows():
        # insert sql query
        sql = "INSERT INTO used_bikes(bike_name,price,city,kms_driven,owner,age,power,brand) VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"
        cursor.execute(sql, tuple(row))
        print("Record inserted")
                    
        conn.commit()
except Error as e:
 print("Database Error ", e)

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [ ]:
# create index 
cursor.execute("CREATE INDEX search_index ON used_bikes(bike_name,price,city,kms_driven,owner,age,power,brand)")