In [94]:
#Approach: 
# step-1: first we will load both data_file in two different data frame using pandas library
# step-2: we will create a column in both data_frame having value of (Order ID + Product ID)
# step-3: we will make union of both data frame
# step-4: Now we can find ans of given questions on the basis of step-3 data frame

In [81]:
import pandas as pd

In [82]:
# reading the Data1 from the csv 
data1 = pd.read_csv('data1.csv')

#Creating Unique column ID 
data1['Data1_Unique_ID'] = data1['Order ID']+data1['Product ID']

In [83]:
data1.head(5)

         Order ID       Product ID  Qty                Data1_Unique_ID
0  CA-2014-100006  TEC-PH-10002075    3  CA-2014-100006TEC-PH-10002075
1  CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090FUR-TA-10003715
2  CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090OFF-BI-10001597
3  CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293OFF-PA-10000176
4  CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328OFF-BI-10000343

In [84]:
# reading the Data2 from the csv 
data2 = pd.read_csv('data2.csv')

#Creating Unique column ID "
data2['Data2_Unique_ID'] = data2['Order ID']+data2['Product ID']

In [85]:
data2.head(5)

         Order ID       Product ID  Qty                Data2_Unique_ID
0  CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090FUR-TA-10003715
1  CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090OFF-BI-10001597
2  CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293OFF-PA-10000176
3  CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328OFF-BI-10000343
4  CA-2014-100363  OFF-FA-10000611    2  CA-2014-100363OFF-FA-10000611

In [86]:
final_data = data1.merge(data2, how='outer', left_on=['Data1_Unique_ID'], right_on=['Data2_Unique_ID'])

In [87]:
final_data.head(5)

,Order ID_x,Product ID_x,Qty_x,Data1_Unique_ID,Order ID_y,Product ID_y,Qty_y,Data2_Unique_ID
0,CA-2014-100006,TEC-PH-10002075,3.0,CA-2014-100006TEC-PH-10002075,NaN,NaN,NaN,NaN
1,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715
2,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597
3,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176
4,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343

In [88]:
#Q1: No. Of Records (Order ID + Product ID combination) present in data1 but missing in data2 

#solution
final_data['Data2_Unique_ID'].isna().sum()

507

In [89]:
#records present in data2 but missing in data1
present_in_data2_missing_in_data1 = final_data[final_data['Data1_Unique_ID'].isna()]

#Q2: No. Of Records (Order ID + Product ID combination) missing in data1 but present in data2

#solution
present_in_data2_missing_in_data1.shape[0]

508

In [90]:
#Q3: Sum of the total Qty of Records missing in data1 but present in data2

#solution
present_in_data2_missing_in_data1[['Qty_y']].sum()

Qty_y    1956.0
dtype: float64

In [91]:
#Q4: Total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2

#solution
final_data['Data2_Unique_ID'].shape[0]

9986